div.page-header
  h3.page-headline Edit Page
  div.page-header__meta
    span.page-header__chip Content Ops
    span.page-header__text Update the copy and structure of this page

= render 'form', page: @page
