div.page-header
  h3.page-headline Static Pages
  div.page-header__meta
    span.page-header__chip Content Ops
    span.page-header__text Manage standalone pages and their body copy

div.row
  div.col-sm-12
    div.card.section-card
      .card-header.d-flex.justify-content-between.align-items-center
        span Pages list
        = link_to 'New page', new_admin_page_path, class: 'btn btn-outline-primary btn-sm'
      .card-body.px-0.overflow-auto
        table class="table table-hover align-middle mb-0"
          thead class="bg-light text-muted"
            tr
              th scope="col" class="text-nowrap px-4" #
              th scope="col" class="text-nowrap" Title
              th scope="col" class="text-nowrap" Excerpt
              th scope="col" class="text-nowrap text-end px-4" Actions
          tbody
            - @pages.each_with_index do |page, index|
              tr
                td class="px-4 text-muted"= index + 1
                td
                  strong= page.title
                td= truncate(page.body, length: 90)
                td class="text-end px-4"
                  = link_to 'Edit', edit_admin_page_path(page), class: 'btn btn-outline-primary btn-sm me-2'
                  = link_to 'Delete', admin_page_path(page), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
