div.page-header
  h3.page-headline Create Page
  div.page-header__meta
    span.page-header__chip Content Ops
    span.page-header__text Draft a new static page for the site

= render 'form', page: @page
