div class="page-header"
  h3 class="page-headline" Gallery Settings
  div class="page-header__meta"
    span.page-header__chip Gallery Toolkit
    span.page-header__text Configure details, homepage metadata and uploaded media

= render "form", gallery: @gallery
