div class="page-header"
  h3 class="page-headline" Create Gallery
  div class="page-header__meta"
    span.page-header__chip Gallery Toolkit
    span.page-header__text Add a gallery and prepare its homepage presentation data

= render "form", gallery: @gallery
