html,
body {
  height: 100%;
}
.navbar {
  height: 65px;
}
.navbar .navbar-nav	> li > a { padding-top: 0px; padding-bottom: 0px; line-height: 38px; color:#000000 }


body {
  background-color: #f2f3f5;
}
