*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.items {
  width: 210px;
  height: 210px;
  position: relative;
}
.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
}
.img-btn-edit {
  color: #ffffff;
  display: flex;
  position: absolute;
  bottom: 11px;
  right: 13px;
}
.img-btn-edit:hover{
  color: #ffffff;
  text-decoration: none;
}
.box-img {
  width: 300px;
  display: flex;
  align-items: center;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  overflow: hidden;

  label {
      top: 18px;
      font-size: 26px;
      color: #4D4D4D;
      position: absolute;
      z-index: 10;
      cursor: pointer;
  }

  input {
      opacity: 0;
      visibility: hidden;
      position: absolute;

      &:checked {

          ~ .check {
              border-color: #46addd;
              box-shadow: 0px 0px 0px 15px #5a92ac inset;

              &::after {
                  opacity: 1;
                  transform: scale(1);
              }
          }
      }
  }

  .check {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 100px;
      background-color: rgba(151, 151, 151, 0.699);
      border: 2px solid #424e5f;
      box-shadow: 0px 0px 0px 0px #89e5f1 inset;
      transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

      &::after {
          content: '';
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 4;
          position: absolute;
          transform: scale(0);
          background-size: 50%;
          background-image: url('http://s6.picofile.com/d/8392306668/c38c12a0-6db3-47d4-a80c-7dad8fab5186/checkmark.svg');
          background-repeat: no-repeat;
          background-position: center;
          transition-delay: 0.2s !important;
          transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
      }
  }
}
.card-img-overlay{
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  overflow: hidden;
  border-radius: calc(0.25rem - 1px);
  margin: 10px 160px;
}
.card-img-overlay:hover{
  background-color: rgba(44, 41, 41, 0.644);
  height: 10px;
}
.img-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-card{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, min-content);
}
.img-card__checkbox{
  grid-area:checkbox;
}
.img-card__item{
  width:100px;
  height:100px;
}
.img-card__btn-container{
  grid-area: container;
  width: 50px;
  height:10px;
  display: flex;
  flex-direction: space-between;
}
.img-card__input{
  grid-area: input;
  width:100px;
}


h1{
  font-weight: 800;
}
p{
  font-weight: 500;
}
.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.row .column{
  width: 250px;
  height: 180px;
  overflow: hidden;
  padding: 0 4px;
  height: 100%;
  position: relative;
}
.row .column img{
  //margin-top: 2%;
  width: auto;
  cursor: pointer;
  position: relative;
}
.row .column img .btn-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .row .column {
    flex: 50%;
  }
}
@media only screen and (max-width: 600px){
  .row .column{
    flex: 100%;
  }
}