@charset "UTF-8";

#mainNav a {
  color: #fff;
}

#mainNav {
  font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 0;
  border-bottom: none;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.53);
}

#mainNav a.navbar-brand {
  margin-left: 70px;
  font-size: 17px;
  font-weight: 700;
}

@media (min-width: 992px) {
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    background: rgba(0,0,0,0.53);
  }
}

@media (max-width: 992px) {
  #mainNav a.navbar-brand {
    margin-left: 5px;
    font-size: 13px;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
}
