RAILS_ENV=production
RAILS_MASTER_KEY=replace_with_config_master_key
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=2
RAILS_FORCE_SSL=true
MAILER_HOST=example.com
ENCRYPTION_KEY=replace_with_64_hex_characters_or_keep_it_in_credentials

DEPLOY_FROM_REGISTRY=false
WEB_IMAGE=mcs-web:latest

POSTGRES_DB=MSC_production
POSTGRES_USER=mcs
POSTGRES_PASSWORD=replace_with_strong_database_password

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=MSC_production
DATABASE_USER=mcs
DATABASE_PASSWORD=replace_with_strong_database_password
