footer class="footer"
  .footer__inner
    span.footer__text
      - footer_text = @site_setting&.footer.presence || "© #{Time.current.year} #{(@site_setting&.name_site || 'Photohub')}."
      = footer_text
