div.page-header
  h3.page-headline Create Home Page
  div.page-header__meta
    span.page-header__chip Home
    span.page-header__text Configure hero content before publishing

= render 'form', home: @home, galleries: @galleries
