- image = gallery&.primary_image
- meta_items = [gallery&.homepage_content(:homepage_meta_primary), gallery&.homepage_content(:homepage_meta_secondary), gallery&.homepage_content(:homepage_meta_tertiary)].reject(&:blank?)
- mini_meta_items = [gallery&.homepage_content(:homepage_meta_primary), gallery&.homepage_content(:homepage_meta_tertiary)].reject(&:blank?)
- footer_items = [gallery&.homepage_content(:homepage_footer_primary), gallery&.homepage_content(:homepage_footer_secondary)].reject(&:blank?)
- title = gallery&.homepage_content(mini ? :homepage_overlay_title : :homepage_title).presence || "Серия"
- description = gallery&.homepage_content(:homepage_description)

article class="story-card #{card_class}"
  .story-card__media class=("story-card__media--empty" if image.blank?)
    - if image.present?
      = image_tag image.variant(resize_to_limit: [1400, 1100]), alt: title, loading: "lazy"
    - else
      .story-card__placeholder
    - if mini
      .story-card__overlay
        - if mini_meta_items.present?
          .story-card__meta
            - mini_meta_items.each do |item|
              span = item
        p.story-card__overlay-title = title
    - if gallery.present?
      = link_to gallery_path(gallery), class: "story-card__link-cover", aria: { label: title } do
        span.visually-hidden = title
  - unless mini
    .story-card__body
      - if meta_items.present?
        .story-card__meta
          - meta_items.each do |item|
            span = item
      h3 = title
      - if description.present?
        p = description
      - if footer_items.present?
        .story-card__footer
          - footer_items.each do |item|
            span = item
  - else
    - tags = gallery&.homepage_tags_list.to_a.first(3)
    - if tags.present?
      .story-card__tags
        - tags.each do |tag|
          span.story-card__tag = tag
