<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  name: <%= @name%>
  </p><p>
  email: <%= @email%>
</p><p>
  BODY:  <%= @body %>
</p>

</body>
</html>