- if @gallery.images.present?
    = content_tag :div,
        id: "app",
        data: { url_path: gallery_path, direction: "column" }
        = javascript_include_tag "gallery_react"
javascript:
    $(window).scroll(function(){
     $('navbar').toggleClass('scrolled', $(this).scrollTop() > 200 ); 

    });



