<link href="/css/lightgallery.css" rel="stylesheet">
<link rel="stylesheet" href="/css/mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="/css/style_mob.css">

<%= stylesheet_link_tag 'galleries', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="row" id="lightgallery">
  <% if @gallery.images.present? %>

    <% @gallery.images.in_groups(5, false).each do |group| %>
      <div class="column">
        <% group.each do |image| %>
          <div class="item" data-src="<%= url_for(image.variant(resize_to_limit: [2000, 1200])) %>">
          <a href='<%= url_for(image.variant(resize_to_limit: [1000, 670])) %>'>
            <%= image_tag image.variant(resize_to_limit: [1000, 670]) %>
          </a>
          <span class="icon-focus"></span>
          </div>

        <% end %>
        </div>
    <% end %>
    <% else %>
      <p>There are no images</p>
    <% end %>

</div>

<script type="text/javascript">
    $(document).on('turbolinks:load', function(){
        $('#lightgallery').lightGallery({
            selector: '.item'
        });
    });
</script>
