<link href="/css/lightgallery.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#lightgallery').lightGallery({
            selector: '.item'
        });
    });
</script>

  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/mobirise-gallery/style.css">


<section class="mbr-gallery mbr-slider-carousel cid-qx5qFCU1Ss" id="gallery3-5" data-rv-view="360">

  <div>
    <div>
      <!-- Filter -->
      <!-- Gallery -->

      <div class="mbr-gallery-row">
        <div class="mbr-gallery-layout-default">
          <div>
            <div id="lightgallery">

              <% if @images.exists? %>
                <% @images.each_slice(6) do |image| %>

                  <% image.each do |image| %>



                    <div class="mbr-gallery-item mbr-gallery-item--pNaN">

                      <div class="item" data-src="<%= image.image_url() %>">
                        <a href='<%= image.image_url() %>'>
                          <%= image_tag image.image_url(:thumb) %>
                        </a>
                        <span class="icon-focus"></span>
                      </div>
                    </div>

                    <% end %>
                  <% end %>
              <% else %>
                <p>There are no images</p>
              <% end %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<script src="/assets/masonry/masonry.pkgd.min.js"></script>

<script src="/assets/theme/js/script.js"></script>
<script src="/assets/mobirise-gallery/player.min.js"></script>
<script src="/assets/mobirise-gallery/script.js"></script>



 <div class="container-fluid">

 </div>

<!-- JS VENDOR -->
<script src="/js/vendor/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="/js/lightgallery-all.js"></script>