@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

@import "./src/homes";
@import "./src/style";


@import "./src/galleries.scss";

@import "toastr/toastr";

@import "./src/css/vendor/animate.min";

@import "@fortawesome/fontawesome-free/scss/brands";

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/cabin/cabin-latin-400-normal.woff2") format("woff2"),
    url("/assets/cabin/cabin-latin-400-normal.woff") format("woff");
}

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/cabin/cabin-latin-700-normal.woff2") format("woff2"),
    url("/assets/cabin/cabin-latin-700-normal.woff") format("woff");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/lora/lora-latin-400-normal.woff2") format("woff2"),
    url("/assets/lora/lora-latin-400-normal.woff") format("woff");
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/lora/lora-latin-700-normal.woff2") format("woff2"),
    url("/assets/lora/lora-latin-700-normal.woff") format("woff");
}

// Скрыть текстовый "0" внутри fslightbox
.fslightbox-container {
  font-size: 0 !important;
  > * { font-size: initial; }
}

.swiper-button-next,
.swiper-button-prev {
    right:10px;
    padding: 30px;
    color: white !important;
}


@import 'lightgallery/css/lightgallery-bundle';
@import 'swiper/swiper-bundle.min';
