div class="page-header"
  h3 class="page-headline" Team Access
  div class="page-header__meta"
    span.page-header__chip Admin
    span.page-header__text Manage member roles and account credentials

div class="row"
  div class="col-sm-12"
    div class="card section-card"
      .card-header.d-flex.justify-content-between.align-items-center
        span Team members
        / Placeholder for future "New user" button
      .card-body.px-0.overflow-auto
        table class="table table-hover align-middle mb-0"
          thead class="bg-light text-muted"
            tr
              th scope="col" class="text-nowrap px-4" #
              th scope="col" class="text-nowrap" Account
              th scope="col" class="text-nowrap" Email
              th scope="col" class="text-nowrap" Roles
              th scope="col" class="text-nowrap text-end px-4" Actions
          tbody
            - @users.each_with_index do |user, index|
              tr
                td class="px-4 text-muted"= index + 1
                td
                  - base_email = user.email.to_s
                  - account_label = user.try(:name).presence || base_email.split("@").first || base_email
                  strong= account_label
                td= mail_to user.email
                td
                  - roles = []
                  - roles << "Admin" if user.superadmin_role?
                  - roles << "Editor" if user.supervisor_role?
                  = roles.present? ? roles.join(", ") : "Viewer"
                td class="text-end px-4"
                  = link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-outline-primary btn-sm me-2'
                  = link_to 'Delete', admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm'
