doctype html
html
  head
    title =@site_setting.name_site
    meta name="yandex-verification" content=@site_setting.yn_verification_pri
    meta name="yandex-verification" content=@site_setting.yn_verification_sec
    meta name="turbo-visit-control" content="reload"

    = csrf_meta_tags
    = csp_meta_tag
    = site_favicon_tag
    - if @analytics_page_view&.persisted?
      meta name="analytics-page-view-token" content=@analytics_page_view.signed_id(purpose: :analytics_duration)
      meta name="analytics-duration-url" content=analytics_page_view_duration_path
      meta name="analytics-events-url" content=analytics_page_events_path

    = javascript_include_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag 'application', media: 'all'

  body class=("home-editorial-page" if editorial_home_page?)
    - unless editorial_home_page?
      = render 'layouts/header'
    = turbo_frame_tag "modal"
         
    - unless flash.empty?
      = render 'layouts/notice'

    

    - if current_page?(home_path)

      = yield

    - else
        main role="main" class="flex-shrink-0"
          div.container-fluid id="general"

            = yield

    - unless editorial_home_page?
      = render 'layouts/footer'
